<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= f.collection_select :genre_id, Genre.all, :id, :name %>

  <input name="song[notes][1]">
  <input name="song[note_ids][]">
  <input name="song[note_ids][]">

  <%= f.submit %>
<% end %>
